{% extends 'uheader.html' %}
{% load static %}
{% block content %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 100px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Add Complain</h3>
                </div>
                <div class="col-4 text-right">
                </div>
              </div>
            </div>
            {% if msg %}
            <h5 style="color: blueviolet;">{{msg}}</h5>
            {% endif %}
            <div class="card-body">

                 {{msg}}
              <form action="{% url 'add_complain' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Complain information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Complain Title</label>
                        <input type="text" id="input-first-name" name="ctitle" class="form-control" placeholder="Complain Title">
                      </div>
                    </div>
                    
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Complain Type :</label>
                        <select name="ctypes" id="" class="form-control">
                          <option value="">--</option>
                          <option value="parking">Parking</option>
                          <option value="lift">Lift</option>

                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Complain Description</label>
                        <textarea name="cdes" id="" class="form-control" cols="60" rows="10"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Picture</label>
                        <input type="file"  class="form-control" name="cpic" >
                      </div>
                    </div>
                  </div>

                </div>
             
                </div>
                <button type="submit" class="btn btn-primary">Save Complain</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
    {% endblock %}