{% extends 'uheader.html' %} 
{% load static %}
{% block content %}
 <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Member</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Events</a></li>
                </ol>
              </nav>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Page content -->
    <br><br><br><br><br>
    <br><br><br><br><br>
    <div class="container-fluid mt--6">
      <div class="row">

    {% for event in events %}
        <div class="col-xl-4 order-xl-2 mb-4">
          <div class="card card-profile" style="height: 100%;">
            <!-- <img src="../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top"> -->
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  {% if event.pic %}
                  <a href="{{event.pic.url}}">
                    <img src="{{event.pic.url}}" class="rectangle">
                  </a>
                    {% else %}
                    No Image
                    {% endif %}
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
               
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="text-center">
                <h5 class="h3">
                <label>Event Title:</label>
                  {{event.title}}<span class="font-weight-light"></span>
                </h5>
                <div class="h5 font-weight-300">
                  <h5 class="h5">
                  <label>Event Discription:</label>
                  <i class="ni location_pin mr-2"></i>{{event.des}}
                  </h5>
                </div>
                <div class="h5 mt-4">
                  <label>Event Date:</label>
                  <i class="ni business_briefcase-24 mr-2"></i>{{event.event_at}}
                </div>
                <div>
                <h5 class="h5">
                  <label>Posted By:</label>
                  <i class="ni education_hat mr-2"></i>{{event.uid}}
                  </h5>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>


      <br><br><br><br><br>


  {% endblock %}