{% extends 'header.html' %}
{% load static %}
{% block content %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 100px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Chang Password</h3>
                </div>
                <div class="col-4 text-right">
                </div>
              </div>
            </div>
            {% if msg %}
            <h5 style="color: blueviolet;">{{msg}}</h5>
            {% endif %}
            <div class="card-body">

                 {{msg}}
              <form action="{% url 'change-password' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Event information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Old Password</label>
                        <input type="text" id="input-first-name" name="oldpassword" class="form-control" placeholder="Old Password">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">New Password</label>
                        <input type="text" id="input-first-name" name="newpassword" class="form-control" placeholder="New Password">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Conform New Password</label>
                        <input type="text" id="input-first-name" name="cpassword" class="form-control" placeholder="Conform New Password">
                      </div>
                    </div>
                  </div>
                    


                  
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
    {% endblock %}